package repository

import (
	"gitlab.com/kirafan/sparkle/server/internal/domain/model"
)


type {{.UpperCamelCase}}Repository interface {
	Find{{.UpperCamelCase}}(query *model.{{.UpperCamelCase}}, criteria map[string]interface{}, associations *[]string) (*model.{{.UpperCamelCase}}, error)
	Find{{.UpperCamelCase}}s(query *model.{{.UpperCamelCase}}, criteria map[string]interface{}, associations *[]string) ([]*model.{{.UpperCamelCase}}, error)
}